{% load static %}

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>takayg's blog-list</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css">
    </head>
    <body>
        
        <div class="header">
            <div class="header-logo">takayg's blog</div>
            <div class="header-list">
                <ul>
                    <li><a href="{% url 'blog:index' %}" class="white-link">TOP</a></li>
                    <li><a href="{% url 'blog:blog_list' %}" class="white-link">投稿一覧</a></li>
                    <li>Python</li>
                    <li><a href="{% url 'blog:blog_atcoder' %}" class="white-link">Atcoder</a></li>
                    <li>その他</li>
                </ul>
            </div> 
        </div>

        <div class="atcoder-container">
            <h1>Atcoder Beginner Contest</h1>
            <div class="abc">
                <table style="border-collapse: collapse; width: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">160</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">159</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">158</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">157</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">156</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="https://takayg.pythonanywhere.com/blog_detail/1/">155</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">154</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">153</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">152</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">151</a></td>
                        </tr>
                        <tr>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">150</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="https://takayg.pythonanywhere.com/blog_detail/4/">149</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">148</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">147</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">146</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">145</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">144</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">143</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">142</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">141</a></td>
                        </tr>
                        <tr>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">140</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">139</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">138</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">137</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">136</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">135</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">134</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">133</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">132</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">131</a></td>
                        </tr>
                        <tr>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">130</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">129</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="https://takayg.pythonanywhere.com/blog_detail/7/">128</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">127</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">126</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">125</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">124</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">123</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">122</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">121</a></td>
                        </tr>
                        <tr>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">120</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">119</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">118</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">117</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">116</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">115</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">114</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">113</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">112</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">111</a></td>
                        </tr>
                        <tr>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">110</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">109</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">108</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">107</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">106</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">105</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">104</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">103</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">102</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">101</a></td>
                        </tr>
                        <tr>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">100</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">99</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">98</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">97</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">96</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">95</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">94</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">93</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">92</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">91</a></td>
                        </tr>
                        <tr>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">90</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">89</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">88</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">87</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">86</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">85</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">84</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">83</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">82</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">81</a></td>
                        </tr>
                        <tr>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">80</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">79</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">78</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">77</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">76</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">75</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">74</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">73</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">72</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">71</a></td>
                        </tr>
                        <tr>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">70</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">69</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">68</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">67</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">66</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">65</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">64</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">63</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">62</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">61</a></td>
                        </tr>
                        <tr>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">60</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">59</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">58</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">57</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">56</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">55</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">54</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">53</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">52</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">51</a></td>
                        </tr>
                        <tr>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">50</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">49</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">48</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">47</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">46</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">45</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">44</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">43</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">42</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">41</a></td>
                        </tr>
                        <tr>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">50</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">49</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">48</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">47</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">46</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">45</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">44</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">43</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">42</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">41</a></td>
                        </tr>
                        <tr>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">40</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">39</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">38</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">37</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">36</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">35</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">34</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">33</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">32</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">31</a></td>
                        </tr>
                        <tr>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">20</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">19</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">18</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">17</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">16</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">15</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">14</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">13</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">12</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">11</a></td>
                        </tr>
                        <tr>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">10</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">9</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">8</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">7</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">6</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">5</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">4</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">3</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">2</a></td>
                            <td style="width: 10%; text-align: center; vertical-align: middle;"><a href="#">1</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
    
        <div class="footer">
            <div class="footer-logo">takayg's blog</div>
            <div class="footer-list">
              <ul>
                <li><a href="{% url 'blog:index' %}" class="white-link">TOP</a></li>
                <li><a href="{% url 'blog:blog_list' %}" class="white-link">投稿一覧</a></li>
                <li>Python</li>
                <li><a href="{% url 'blog:blog_atcoder' %}" class="white-link">Atcoder</a></li>
                <li>その他</li>
              </ul>
            </div>
        </div>
        
    </body>
</html>

    