.header {
    background-color: #800080;
    color: #fff;
    height: 90px;
  }
  
.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
  font-family: 'Lobster', cursive;
}
  
.header-list li {
  float: left;
  padding: 33px 20px;
  font-size: 20px;
  list-style: none;
}

.white-link {
  color: #fff;
}

.main {
  padding: 40px 80px;
  background-color: #CCCCFF;
}

.contents-list {
  margin: 80px;
}

.contents-list h1 {
  color: blue;
}

.contents-list ul {
  border: 2px solid #800080;
}

.contents-list li {
  list-style: none;
}

.copy-container {
  text-align: center;
}

.copy-container h1 {
  font-size: 40px;
  font-family: 'Lobster', cursive;
}

.copy-container h2 {
  font-size: 30px;
  font-family: 'Lobster', cursive;
}

.copy-container span {
  color: #ff4a4a;
}

.copy-container p {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 20px;
  font-weight: bold;
}

.contents {
  height: 500px;
  margin: 50px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 30px;
  padding-left: 20px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  width: 25%;
  text-align: center;
}

.contents-item img {
  width: 173.17px;
  height: 173.17px;
}

.contents-item a {
  font-size: 24px;
  margin-top: 15px;
  color: blue;
}

.footer {
  color: #fff;
  background-color: #6666FF;
  height: 140px;
  padding: 40px;
}

.footer-logo {
  font-size: 32px;
  float: left;
  font-family: 'Lobster', cursive; 
}

.footer-list {
  float: right;
  font-size: 15px;
}

.footer-list li {
  padding-bottom: 8px;
  list-style: none;
}

.blog-detail-back {
  background-color: #CCCCFF;
}

.blog-detail {
  padding: 30px;
  border: 2px solid #6666FF;
  background-color: #fff;
  margin: 80px;
  font-size: 16px;
  line-height: 1.5;
}

.title {
  border: 10px inset #800080;
  padding: 5px;
  text-align: center;
  margin-bottom: 40px;
}

.page-item {
  list-style: none;
  float: left;
  margin: 10px;
  border: 2px solid #CCCCFF;
  padding: 5px;
}

.pagination {
  height: 80px;
}

.container {
  min-height: 300px;
}

.container a {
  color: blue;
}

.blog-detail a {
  color: blue;
}